<%= form_for(@office_hour) do |f| %>
  <% if @office_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@office_hour.errors.count, "error") %> prohibited this office_hour from being saved:</h2>

      <ul>
      <% @office_hour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br />
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.time_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.time_select :end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
